:php
    | $auth = ClwSystem_Auth::getInstance(  );
    | $auth->requireAccessTo( 'Category/category.view');
    | $bCanEdit = $auth->hasAccessTo( 'Category/category.edit');

- $tblCatproduction = ClwSystem_Catproduction::Table()
- $allCategories = $tblCatproduction->getCategoriesArray();
- $fullStructure = $tblCatproduction->getFullStructure();

- if ( count( $this->listObjects ) > 0 ):
    tbody
        - foreach ( $this->listObjects as $objStrategy ):            
            - $nId = $objStrategy->getId();
            tr(id="category-{{$nId}}")
                td.iterator
                td
                    - echo $objStrategy->getName();
                td
                    - echo $objStrategy->getCountProducts();
                td
                    - $cwp_ids = $objStrategy->getBreadcrumbArray();
                        - foreach ( $fullStructure as $cat):
                            - if(array_search($cat->cwp_id, $cwp_ids) !== false):
                                - $level = sizeof($tblCatproduction->getParentCategories($allCategories, $cat->cwp_pt_id));
                                - if($level == 0):
                                    div(style="display:block")
                                    div(style="display:inline")
                                        - echo $cat->cwp_name;
                                - else:
                                    div(style="display:inline")
                                        | ->
                                        - echo $cat->cwp_name;
                                - endif;
                            - endif;
                td.buttons
                    - if ($bCanEdit):
                        .hover-visible.edit-hidden                            
                            button.btn.btn-small.btn-edit
                                i.icon-pencil.icon-white
                                span.hidden-phone
                                    | Edit
                            - if ( $objStrategy->canBeDeleted() ):
                                button.btn.btn-small.btn-remove
                                    i.icon-remove.icon-white
                                    span.hidden-phone
                                        | Delete
                            - endif;
                    - endif;      
- endif;    
    tbody.hidden
        - echo $this->ns()->broker()->inflectionUrl();
    tfooter.edit-hidden
        td(colspan="6")
            - echo $this->broker('ClwSystem')->pager();
